<server>
    <featureManager>
        <feature>springBoot-2.5.0</feature>
        <feature>mpHealth-3.1</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="9080" httpsPort="9443"/>

    <application type="springBoot">
        <applicationLocation>${shared.app}/demo-0.0.1-SNAPSHOT.jar</applicationLocation>
    </application>
</server>
